:root {
  --day-size: 24px;
  --color-annual-leave: #43a047;
  --color-partial-annual-leave: #c8e6c9;
  --color-public-holiday-in-lieu: #512da8;
  --color-partial-public-holiday-in-lieu: #d1c4e9;
  --color-public-holiday: #f57c00;
  --color-partial-enforced-leave: #ffecb3;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
